<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Brands</title>
</head>
<body>

    <h3> Brands </h3>
    <% branddata.forEach ( (brand)  => {%>

        
    <div class="card" style="width: 18rem;">
        <a href="/alldeals?b_id=<%= brand.brand_id %>">
        <img class="card-img-top" src="<%= brand.brand_img_path %>" alt="Card image cap"></a>
        <div class="card-body">
            <a href="/all_brands?brandid=<%= brand.brand_id %>"> 
          
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
               <%  });   %>

</body>
<%- include ("footer") %>
</html>