<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h3> All Vouchers </h3>
</head>
<body>
    <% voucherdata.forEach ( (voucher)  => { %>

    <main class="container">
            <div class="card">
                <a href="/voucher?voucherid=<%= voucher.voucher_id %>"> </a>
                    <div><h3><%= voucher.voucher_title %></h3></div>
                    <div><p><%= voucher.voucher_desc %></p></div>
                    <div><h3><%= voucher.voucher_code %></h3></div>
                    <div><p><%= voucher.voucher_terms %></p></div>
                    <div><p><%= voucher.end_date %></p></div>
                    <div><p><%= voucher.category_name %></p>
                </div>
          
               <%  });   %>

    </main>
</body>
 
<%- include ("footer") %>
</html>