<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Categories</title>
</head>
<body>
    <h3> Categories: </h3>

    <div class="card" style="width: 18rem;">
        <% categorydata.forEach(category => { %>
            <p><h3><a href="/alldealsbycategory?c_id=<%= category.category_id %>"><%= category.category_name %></a></h3></p>
            <div class="card-body">
                <p><%= category.category_description %></p>
                <p><img class="card-img-top" src="<%= category.category_img_path %>"></p>

                <% }); %>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
             

</body>
<%- include ("footer") %>
</html>