<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Categories</title>
</head>
<body>
    <main class="container">
        <h1> Categories: </h1>

        <% categorydata.forEach ( (category)  => {  %>

        <div class="card">
            <a href="/all_categories?categoryid=<%= category.category_id %>"> 
            <div><h3><%= category.category_name %></h3></div></a></div>              
            <img src="<%= category.category_img_path %>" class="card-img-top" alt="Oops! Image not found">
            <div><p><%= category.category_description %></p></div>
        </div>
      
           <%  });   %>
    </main>

</body>
<%- include ("footer") %>
</html>