<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h3> Categories: </h3>
</head>
<body>
    <main class="container">

        <% categorydata.forEach(category => { %>

        <div class="card">

            <div class="card">
                <div><h3><%= category.category_name %></h3></div></a>
                <img class="card-img-top" src="<%= category.category_img_path %>" alt="Card image cap"><br>
                <p> <%= category.category_description %> </p>
                <a href="/alldealsbycategory?c_id=<%= category.category_id %>"><h5> Deals in this Category</h5></a>
                <a href="/allvouchersbycategory?c_id=<%= category.category_id %>"><h5> Vouchers in this Category</h5></a> 

            
            <a href="/alldealsbycategory?c_id=<%= category.category_id %>"></a>                 


            </div>
      
           <%  });   %>
    </main>
</body>
<%- include ("footer") %>
</html>