<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h3> All Deals and Vouchers </h3>
</head>

<body>
    <main class="container">

        <% postdata.forEach ( (post)  => { %>

        <div class="card">
            <a href="/post?postid=<%= post.post_id %>"> </a>
                <div><h3><%= post.post_title %></h3></div>
                <div><p><img src="<%= post.image_path %>"></p></div>

            </div>
      
           <%  });   %>
    </main>
</body>
 
<%- include ("footer") %>
</html>