<%- include ("header") %>
  <!DOCTYPE html>
  <html>
  <main>
    <h2>Dashboard</h2>
    <p>Logged in as: <%= userdata.role %>
    </p>
    <h2> Your Profile </h2>

    <div class="card">
      <a href="/user?userid=<%= userdata.user_id %>"> </a>
      <div>Name : <%= userdata.first_name %>
          <%= userdata.last_name %>
      </div>
      <div>Email : <%= userdata.user_email %>
      </div>
    </div>

    <div>
      <blockquote>
        <h3>Create a Deal / Voucher</h3>
        <p><a href="/adddeal">Add a Deal</a></p>
        <p><a href="/addvoucher">Add a Voucher</a></p>
      </blockquote>
    </div>
    <div>
      <blockquote>
        <h3>Delete a Deal / Voucher</h3>
        <p><a href="/deletedeal">Delete a Deal</a></p>
        <p><a href="/deletevoucher">Delete a Voucher</a></p>
      </blockquote>
    </div>
    <blockquote>
      <h3>Your Stuff</h3>
      <p><a href="/deletedeal">Your Deals</a></p>
      <p><a href="/deletevoucher">Your Vouchers</a></p>
      <p><a href="/deletedeal">Saved Deals</a></p>
      <p><a href="/deletevoucher">Saved Vouchers</a></p>
    </blockquote>
    </div>




  </main>


  <li><a href="/ratings">Rate a Deal or Voucher</a></li>
  <li><a href="/likes">Like a Deal or Voucher</a></li>
  <li><a href="/saves">Save a Deal or Voucher</a></li>



  <a href="\logout">logout</a>


  </body>
  <%- include ("footer") %>

  </html>