<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<h3> Single Deal</h3>
</head>
<body>
    <main class="container">

        <% dealdata.forEach ( (deal)  => { %>
    
        <div class="card">
            
                <div><h3><%= deal.deal_title %></h3></div>
                <div><p><%= deal.deal_description  %></p></div>                           
                <div><p><a href="<%= deal.deal_link  %>"><%= deal.deal_link  %></a></p></div>  
                <img class="card-img-top" src="<%= deal.img_path %>" alt="Card image cap"></a>                        
                <div><p> £ <%= deal.price  %></p></div>                           
                <div><p> £ <%= deal.shipping_price  %></p></div>                           
                <div><p> Category : <%= deal.category_name  %></p></div>                           
                <div><p> Brand : <%= deal.brand_name  %></p></div>                           
                <div><p> Start Date: <%= deal.start_date  %></p></div>                           
                <div><p> End Date : <%= deal.end_date  %></p></div>                           
                <div><p> Local Deal : <%= deal.local_deal_name  %></p></div>                           
                <div><p> Discount Type : <%= deal.discount_type_name  %></p></div>
                <div><p> Posted by : <%= deal.user_email  %></p></div>

            </div>
      
           <%  });   %>
    </main>

    <a href="/likes/<%= dealdata[0].deal_id %>">Like</a>
    <a href="/ratings/{{post_id}}">Rate</a>
    <a href="/saves/{{post_id}}">Save</a>
</body>
<%- include ("footer") %>
</html>