<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<h3> Single Deal</h3>
</head>
<body>

    <main class="container">

        <% dealdata.forEach ( (deal)  => { %>
    
        <div class="card">
            <a href="/alldeals?dealid=<%= deal.deal_id %>"> </a>
                <div><h3><%= deal.title %></h3></div>
                <div><p><%= deal.description  %></p></div>                           
                <div><p><%= deal.deal_link  %></p></div>                           
                <div><p><%= deal.img_path  %></p></div>                           
                <div><p><%= deal.price  %></p></div>                           
                <div><p><%= deal.shipping_price  %></p></div>                           
                <div><p><%= deal.category_id  %></p></div>                           
                <div><p><%= deal.brand_id  %></p></div>                           
                <div><p><%= deal.start_date  %></p></div>                           
                <div><p><%= deal.end_date  %></p></div>                           
                <div><p><%= deal.local_deal_id  %></p></div>                           
                <div><p><%= deal.discount_type_id  %></p></div>                           
            </div>
      
           <%  });   %>
    </main>

    <a href="/likes/{{post_id}}">Like</a>
    <a href="/ratings/{{post_id}}">Rate</a>
    <a href="/saves/{{post_id}}">Save</a>
</body>
<%- include ("footer") %>
</html>