<%- include ("header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Many Deals Sandbox</title>
</head>
<body>
    <% vinyldata.forEach ( (vinyl)  => {  %>

        <div class="simplecard">
          <a href="/vinyl?vid=<%= vinyl.vinyl_id %>"> 
          <div class="title">
             <%= vinyl.vinyl_name %>
            </div>
            <div>
              <%= vinyl.year %>
            </div>
          </a>
        </div>
        
             <%  });   %>


</body>

<%- include ("footer") %>

</html>