<%- include ("header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page Header above search bar</title>
</head>
<body>
    <main class="container">

        <% userdata.forEach ( (user)  => { %>

        <div class="card">
            <a href="/user?userid=<%= user.user_id %>"> 
                <div><h3><%= user.first_name %></h3></div>
                <div><h3><%= user.last_name %></h3></div>                           
                <img src="<%= user.user_img_path %>" class="card-img-top" alt="Sorry! No Image Available">
                <div><p><%= user.user_email %></p></div>
                <div><p><%= user.user_password %></p></div>              
                <div><p><%= user.dob %></p></div>              
                <div><p><%= user.gender %></p></div>              
                <div><p><%= user.county_name %></p></div>              

        </div>
      
           <%  });   %>
</body>
<%- include ("footer") %>
</html>